<ma-loader *ngIf="isLoading$ | async; else feedContent"></ma-loader>

<ng-template #feedContent>
  <ng-container
    *ngIf="!!(feed$ | async) && (feed$ | async).articles.length; else emptyFeed"
  >
    <article
      *ngFor="let article of (feed$ | async).articles"
      class="article-preview"
    >
      <div class="article-meta">
        <a [routerLink]="['/', HttpLinks.Profiles, article.author.username]">
          <img [src]="article.author.image" />
        </a>
        <div class="info">
          <a [routerLink]="['/', HttpLinks.Profiles, article.author.username]">
            {{ article.author.username }}
          </a>
          <span class="date">{{ article.createdAt | date }}</span>
        </div>
        <div class="pull-xs-right">
          <!-- TODO: implement -->
          ADD TO FAVORITES
        </div>
      </div>
      <a
        [routerLink]="['/', HttpLinks.Posts, article.slug]"
        class="preview-link"
      >
        <h1>{{ article.title }}</h1>
        <p>{{ article.description }}</p>
      </a>
      <ma-tag-list [tags]="article.tagList" class="pull-xs-right"></ma-tag-list>
    </article>
    <ma-pagination
      [total]="(feed$ | async).articlesCount"
      [currentPage]="currentPage"
    ></ma-pagination>
  </ng-container>

  <ng-template #emptyFeed>
    <ma-error-sphere></ma-error-sphere>
    <ma-error-message
      *ngIf="error$ | async"
      [errorMessage]="'Posts are empty. Something went wrong...'"
    ></ma-error-message>
  </ng-template>
</ng-template>
